@using oblig1_Yevhen_Verkhalantsev.Database.Entities
@model oblig1_Yevhen_Verkhalantsev.Models.Product.ProductListHttpGetViewModel

<div class="container">
    <table class="table table-dark table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Producer</th>
            <th>Category</th>
        </tr>
        
        @foreach (ProductEntity product in Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Producer.Name</td>
                <td>@product.Category.Name</td>
            </tr>
        }
    </table>
</div>