@using oblig1_Yevhen_Verkhalantsev.Models.Producer
@using oblig1_Yevhen_Verkhalantsev.Database.Entities
@model ProducersListHttpGetViewModel

<div class="container">
    <table class="table table-dark table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
        </tr>
        
        @foreach (ProducerEntity producer in Model.Producers)
        {
            <tr id="producer-@producer.Id" style="cursor: pointer">
                <td>@producer.Id</td>
                <td>@producer.Name</td>
                <td>@producer.Description</td>
                <td>@producer.Adress</td>
            </tr>
        }
    </table>
</div>

@section Scripts
{
    <script>
        let producers = document.querySelectorAll("[id^='producer-']")
        producers.forEach(producer=>{
            producer.addEventListener("click", ()=>{
                let idParts = producer.id.split("-")
                let producerId = idParts[idParts.length - 1]
                location.href = "@Url.Action("Update","Producer")?id=" + producerId
            })
        })
    </script>
}
